<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="app">
      <header id="header">
        <div class="container fixed-top header-fix">
          <div class="row align-content-center justify-content-center">
            <div class="col-3">
              <a href="" class="d-flex align-items-center text-decoration-none text-black"
                ><img src="./assets/img/logo.png" id="logo" alt="" />
                <h6 class="mx-2 p-0 m-0">Shop Fashion HaNoi</h6>
              </a>
            </div>
            <div class="col-6 header-search">
              <form class="d-flex">
                <input
                  class="form-control fix-color-outline1 me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-primary fix-color-outline1 fix-color1" type="submit">Search</button>
              </form>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <button type="button" class="btn btn-primary fix-color1 mx-2">
                <a href="" class="fix1">Đăng ký</a>
              </button>
              <button type="button" class="btn btn-primary fix-color1">
                <a href="" class="fix1"> Đăng nhập </a>
              </button>
            </div>
          </div>
        </div>
      </header>
      <div class="container fixed-top nav-fix">
        <div class="row">
          <div class="col-12">
            <nav class="nav">
              <a class="nav-link active" aria-current="page" href="#">Sản phẩm mới</a>
              <a class="nav-link" href="#">Nổi bật</a>
              <a class="nav-link" href="#">Thời trang nam</a>
              <a class="nav-link" href="#">Thời trang nữ</a>
              <a class="nav-link" href="#">Thời trang trẻ em</a>
              <a class="nav-link" href="#">Phụ kiện nhỏ</a>
              <a class="nav-link" href="#">Giảm giá</a>
            </nav>
          </div>
        </div>
      </div>

      <main id="main">
        <div class="fix-mar1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div>
                  <nav aria-label="breadcrumb" class="mt-2">
                    <ol class="breadcrumb">
                      <li class="me-1"><a href="#" class="fix-text-color1">Trang chủ /</a></li>
                      <li class="me-1"><a href="#" class="fix-text-color1">Thời trang nam /</a></li>
                      <li class="me-1 fix-text-color2" aria-current="page">
                        Quần Short Kaki Nam Cotton 5S Fashion Basic Regular QSK25008
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-7"><img class="product-img" src="./assets/img/products/qun1.webp" alt="" /></div>
              <div class="col-5">
                <div class="wrapper-product">
                  <h2>Thông tin sản phẩm</h2>
                  <ul class="product">
                    <li>
                      Tên sản phẩm:
                      <span>Quần Short Kaki Nam Cotton 5S Fashion Basic Regular QSK25008</span>
                    </li>
                    <li>
                      Danh mục:
                      <span>Thời trang nam</span>
                    </li>
                    <li>
                      Trạng thái:
                      <span class="stock-true">Còn hàng</span>
                    </li>
                    <li>
                      Ưu đãi:
                      <span>Mua 2 tặng 1</span>
                    </li>
                    <li>
                      Giá gốc:
                      <span class="text-decoration-line-through">699.000 đ</span>
                    </li>
                    <li>
                      Giá sau giảm:
                      <span class="product-price">399.000 đ</span>
                    </li>
                    <li>
                      Mô tả sản phẩm:
                      <span
                        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident quibusdam quod iure
                        excepturi obcaecati, alias incidunt, eum nisi voluptas illo necessitatibus eveniet molestias
                        deserunt minima est dolorum laboriosam temporibus repellendus?</span
                      >
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary fix-color1">Mua ngay</button>
                  <button type="button" class="btn btn-primary fix-color1">Thêm vào giỏ</button>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-around">
              <h2>Sản phẩm liên quan</h2>
              <div class="row row-cols-4 g-4 fix-mar3">
                <h1 class="col">
                  <a href="">
                    <div class="card">
                      <img class="card-img-top" src="./assets/img/products/qun2.webp" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title">Quần Short Kaki Nam Cotton 5S Fashion Basic Regular QSK25008</h5>
                        <div class="card-text">
                          <span class="fix-text-color1">199.000 đ</span>
                        </div>
                        <a href="#" class="btn btn-primary fix-color1">Mua ngay</a>
                      </div>
                    </div>
                  </a>
                </h1>
                <h1 class="col">
                  <a href="">
                    <div class="card">
                      <img class="card-img-top" src="./assets/img/products/qun3.webp" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title">Áo Polo Nam Thể Thao 5S Fashion In Đơn Giản Phom Regular APC25011</h5>
                        <div class="card-text">
                          <span class="fix-text-color1">100.000 đ</span>
                          <span class="price-origin">600.000 đ</span>
                          <div class="item-sale">40%</div>
                        </div>
                        <a href="#" class="btn btn-primary fix-color1">Mua ngay</a>
                      </div>
                    </div>
                  </a>
                </h1>
                <h1 class="col">
                  <a href="">
                    <div class="card">
                      <img class="card-img-top" src="./assets/img/products/qun4.webp" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title">Quần Short Kaki Nam Cotton 5S Fashion Basic Regular QSK25008</h5>
                        <div class="card-text">
                          <span class="fix-text-color1">199.000 đ</span>
                        </div>
                        <a href="#" class="btn btn-primary fix-color1">Mua ngay</a>
                      </div>
                    </div>
                  </a>
                </h1>
                <h1 class="col">
                  <a href="">
                    <div class="card">
                      <img class="card-img-top" src="./assets/img/products/qun5.webp" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title">Áo Polo Nam Thể Thao 5S Fashion In Đơn Giản Phom Regular APC25011</h5>
                        <div class="card-text">
                          <span class="fix-text-color1">100.000 đ</span>
                          <span class="price-origin">600.000 đ</span>
                          <div class="item-sale">40%</div>
                        </div>
                        <a href="#" class="btn btn-primary fix-color1">Mua ngay</a>
                      </div>
                    </div>
                  </a>
                </h1>
              </div>
            </div>
            <div class="row my-3 mb-5">
              <h2 class="mb-4">Bình luận sản phẩm</h2>
              <div class="col-6">
                <form action="" method="post" class="wrapper-product">
                  <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="ms-2">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Nhập email"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="ms-2">Họ và tên</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Nhập họ và tên"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label for="exampleFormControlTextarea1" class="ms-2">Nội dung bình luận</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                  <button type="button" class="btn btn-primary fix-color1">Bình luận</button>
                </form>
              </div>
              <div class="col-6 comment">
                <h6 class="user-name-comment">Phạm Xuân Thành <span class="text-secondary">(Vừa xong)</span></h6>
                <div class="content-comment">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, explicabo incidunt! Odit
                  consequuntur sunt, voluptates beatae sit placeat ad doloremque nemo architecto, vel esse explicabo!
                  Architecto impedit officiis tenetur ipsa!
                </div>
                <h6 class="user-name-comment">Phạm Xuân Thành <span class="text-secondary">(Vừa xong)</span></h6>
                <div class="content-comment">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, explicabo incidunt! Odit
                  consequuntur sunt, voluptates beatae sit placeat ad doloremque nemo architecto, vel esse explicabo!
                  Architecto impedit officiis tenetur ipsa!
                </div>
                <h6 class="user-name-comment">Phạm Xuân Thành <span class="text-secondary">(Vừa xong)</span></h6>
                <div class="content-comment">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, explicabo incidunt! Odit
                  consequuntur sunt, voluptates beatae sit placeat ad doloremque nemo architecto, vel esse explicabo!
                  Architecto impedit officiis tenetur ipsa!
                </div>
                <h6 class="user-name-comment">Phạm Xuân Thành <span class="text-secondary">(Vừa xong)</span></h6>
                <div class="content-comment">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, explicabo incidunt! Odit
                  consequuntur sunt, voluptates beatae sit placeat ad doloremque nemo architecto, vel esse explicabo!
                  Architecto impedit officiis tenetur ipsa!
                </div>
                <div class="comment-pagition">
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer" class="bg-dark">
        <div class="container pt-5 pb-4">
          <div class="row row-cols-4 text-white">
            <div class="col">
              <h5>CHÍNH SÁCH</h5>
              <ul>
                <li>Chính sách đổi trả, bảo hành</li>
                <li>Chính sách bảo mật</li>
                <li>Chính sách giao hàng</li>
                <li>Chính sách khách hàng thân thiết</li>
              </ul>
            </div>
            <div class="col">
              <h5>CHĂM SÓC KHÁCH HÀNG</h5>
              <ul>
                <li>Tổng đài chăm sóc khách hàng</li>
                <li>Hướng dẫn chọn size</li>
              </ul>
            </div>
            <div class="col">
              <h5>TÀI LIỆU - TUYỂN DỤNG</h5>
              <ul>
                <li>Tuyển dụng</li>
              </ul>
            </div>
            <div class="col">
              <h5>LIÊN HỆ</h5>
              <ul>
                <li>SĐT 024 637 24789</li>
                <li>Email pxt2309@gmail.com</li>
                <li>Địa chỉ Thanh Trì, Hà Nội</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div id="coppy-right" class="text-center">Copyrights © 2025 by Duc Song Cho.</div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
